#root {
    background: #011936;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
}

.footer a {
    color: #F4FFFD;
    font-size: small;
}

.footer a:hover {
    text-decoration: none;
    color: #F9DC5C;
}