.main-container {
    height: 100vh;
}

.main-row {
    padding-top: 15px;
}

.panel {
    background: #A63D40;
    border-radius: 10px;
    border: 3px solid #F9DC5C;
    padding: 10px;

    color: #F4FFFD;
}

.title {
    font-weight: bold;
    padding: 5px;
}