.meal-logger {
    font-weight: bold;

    text-shadow: 1px 1px #011936;
}

.form-row {
    display: flex;
    align-items: center;

    padding: 3px 0;
}

.form-input {
    border: 2px solid #011936;
}

.form-input:focus {
    outline: none;
    outline-width: 0;
    border: 2px solid #F9DC5C;
}

.log-number {
    width: 80px;
    float: right;
}

.submit-row {
    display: flex;
    justify-content: flex-end;
}

.log-button {
    background: #F9DC5C;
    border: 2px solid #011936;
    border-radius: 10px;

    color: #011936;

    padding: 8px;
    margin: 2px 0;

    text-shadow: none;
}

.log-button:hover {
    border: 2px solid #A63D40;
}