.meal-logger {
    font-weight: bold;
}

.form-row {
    display: flex;
    align-items: center;

    padding: 3px 0;
}

.form-input {
    border: 1px solid #151515;
}

.log-number {
    width: 80px;
}

.submit-row {
    display: flex;
    justify-content: flex-end;
}

.log-button {
    background: #F9DC5C;
    border: 2px solid #011936;
    border-radius: 10px;

    color: #011936;

    padding: 8px;
}

.log-button:hover {
    border: 2px solid #A63D40;
}