.graph-card {
    background: #F4FFFD;
    padding: 5px;
    color: #011936;

    border-radius: 8px;
    border: 2px solid #011936;
    margin-bottom: 5px;
}

.overview-stats {
    font-size: small;
    padding: 5px;
}

.food-item {
    background: #F4FFFD;
    border-radius: 8px;
    border: 2px solid #F4FFFD;
    padding: 5px;

    font-size: small;
    color: #011936;
}

.food-item:hover {
    border: 2px solid #F9DC5C;
}

.food-item-title {
    font-weight: bold;
}

.food-item-date {
    font-size: x-small;
}

.food-item-details {
    font-size: x-small;
}